[user]
	name = Oscar Cheung
	email = github@oscarcheung.me
[color]
	ui = auto
[alias]
	lg = log --format='%C(auto)%h %Cgreen%ar %Cblue%aN%Cred%d %Creset%s' --graph --all
	st = status -sb
	cm = commit
        ca = commit -a
        ad = add
        aa = add -A
        rb = rebase
        ri = rebase -i
        pu = push
        me = merge
        fe = fetch
        fa = fetch --all
        br = branch -a
        pu = remote prune
        df = diff
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
